<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.yingmen.mapper.ST_RSVR_MMapper">
    <resultMap id="BaseResultMap" type="vip.yingmen.pojo.ST_RSVR_M">
        <result column="DT" jdbcType="VARCHAR" property="DT" />
        <result column="RZ" jdbcType="VARCHAR" property="RZ" />
        <result column="INQ" jdbcType="VARCHAR" property="INQ" />
        <result column="OTQ" jdbcType="VARCHAR" property="OTQ" />
        <result column="MW" jdbcType="VARCHAR" property="MW" />
    </resultMap>
    <select id="findBySingleYue" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from (select CONVERT(varchar,yr)+case when MON &lt;10 then '-0'+convert(varchar,mon) else (select '-'+CONVERT(varchar,MON)) end as DT,RZ,INQ,OTQ,MW, ROW_NUMBER() OVER(Order by yr,mon) AS RowId
        from ST_RSVR_M
        <where>
            <if test="STCD!= null and STCD!= ''">
                STCD = #{STCD}
            </if>
            <if test="Time_min!= null and Time_min!= ''and Time_max!= null and Time_max!= ''">
                and (CONVERT(varchar,yr)+case when MON &lt;10 then '-0'+convert(varchar,mon) else (select CONVERT(varchar,yr)+'-'+CONVERT(varchar,MON)) end) &gt;='${Time_min}'
                and (CONVERT(varchar,yr)+case when MON &lt;10 then '-0'+convert(varchar,mon) else (select CONVERT(varchar,yr)+'-'+CONVERT(varchar,MON)) end) &lt;='${Time_max}'
            </if>
        </where>
        ) as b
    </select>
</mapper>