<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.yingmen.mapper.WrpSpgPztbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="SygResultMap" type="vip.yingmen.pojo.WrpSpgPztb">
        <id column="ID" property="id" />
        <result column="STCD" property="stcd" />
        <result column="DAMCD" property="damcd" />
        <result column="MPCD" property="mpcd" />
        <result column="CH" property="ch" />
        <result column="OFAX" property="ofax" />
        <result column="MSPS" property="msps" />
        <result column="IPBTEL" property="ipbtel" />
        <result column="IPTPEL" property="iptpel" />
        <result column="TBTPEL" property="tbtpel" />
        <result column="TBBTEL" property="tbbtel" />
        <result column="PZTBTEL" property="pztbtel" />
        <result column="DVCD" property="dvcd" />
        <result column="ESLG" property="eslg" />
        <result column="NRLT" property="nrlt" />
        <result column="RM" property="rm" />
        <result column="EL" property="el" />
        <result column="MSTP" property="mstp" />
        <result column="DTUPTM" property="dtuptm" />
    </resultMap>
    <!--根据ID获取渗流压力测点信息-->
    <select id="selectSlylInfoById" parameterType="java.lang.Integer" resultMap="SygResultMap">
        select * from WRP_SPG_PZTB where ID=#{ID}
    </select>
</mapper>
